.header {
  display: flex;
  background-color: #3c0091;
  padding: 10px 20px;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 4px 14px 52px -14px #92fffb;
  border-bottom: 2px solid #92fffb;
  z-index: 100;

  &__logo-wrapper {
   display: none;
  }
}

.header-content {
  padding-right: 10px;
  &__title {
    //color: #933e63;
    color: #ffffff;
    font-weight: 300;

    strong {
      //color: #F26444;
      color: #ed2d32;
    }
  }

  &__description {
    //color: #aa969f;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }
}

.logo {
  position: relative;
  min-width: 225px;
  //height: 0;
  //animation-name: grow;
  animation-duration: 2s;
}

.header-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
}

@media ($tablet-width) {
  .header {
    padding: 10px 40px;
    position: fixed;
    max-width: 1349px;
    width: 80%;
    right: 0;

    &__logo-wrapper {
      overflow: hidden;
      min-width: 225px;
      min-height: 105px;
    }
  }
}
