@keyframes opacity {
  from {
    color: #ed2d32;
  }
  to {
    //color: #12002b;
    color: #3c0091;
  }
}

.property {
  margin-bottom: 20px;
  box-shadow: 0px 4px 11px -3px rgba(60, 0, 145, 0.61);
  border-bottom: 1px solid rgba(60, 0, 145, 0.59);
  padding: 0 40px 20px 40px;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }

  &__name {
    display: inline-block;
    margin-right: 40px;
    vertical-align: middle;

    a {
      color: #ed2d32;

      &:hover {
        text-decoration: underline;
        animation-name: opacity;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;

        span {
          display: inline-block;
          transform: rotate(360deg);
          transition-duration: 0.7s;
        }
      }
    }
  }
}

.property__use-case {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.property__use-case-header {
  input {
    //background-color: #e4cf00;
    border: 0;
    text-align: center;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 2px;
    border: 1px solid #e4cf00;
    font-family: monospace;

    &:hover,
    &:active,
    &:focus {
      border: 1px solid #3c0091;
    }

    &:focus {
      outline: none;
    }
  }
}

.property__use-case-name {
  position: relative;

  button {
    font-family: monospace;
    font-size: 16px;
    border: none;
    background-color: #ffeb1a;
    border-radius: 2px;
    padding: 3px 7px 5px;
    margin-right: 20px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.property__use-case-name[data-tooltip]:before {
  background-color: #333;
  border-radius: 2px;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.7rem;
  left: 50%;
  line-height: 1.2;
  opacity: 0;
  padding: 0.5em 0.6em;
  pointer-events: none;
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  visibility: hidden;
  white-space: nowrap;
}

.property__use-case-name[data-tooltip]:hover:before {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-4px);
  transform: translateX(-50%) translateY(-4px);
  visibility: visible;
}

.property__use-case-value[name="animation-value"] {
  width: 40px;
  cursor: text;
  background-color: #fff;
}

.property__use-case-description {
  padding-top: 10px;
}

.property__use-case-options--short {
  width: 40px;
}

.property__use-case-info {
  flex-basis: 50%;
  margin-right: 10px;
}
